
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Poppins', sans-serif;
  background-color: white;
}

body {
  font-family: var(--font-sans);
}

/* Add smooth transition for dark mode */
html {
  transition: background-color 0.3s, color 0.3s;
}